Contact_Gadget/Branch/5.26.2010_SOA.R5_Version.6/SBL_ContactWidget_Lib/Invoke.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://wservice.cerner.com/" xmlns:tns="http://SBL_ContactWidget_Lib/Invoke" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Invoke" targetNamespace="http://SBL_ContactWidget_Lib/Invoke">
    <wsdl:types>
    <xsd:schema targetNamespace="http://SBL_ContactWidget_Lib/Invoke" xmlns:bons1="http://wservice.cerner.com/" xmlns:tns="http://SBL_ContactWidget_Lib/Invoke" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://wservice.cerner.com/" schemaLocation="Contact_spcQuery_spcWPS_spcCERN_ContactQuery_Output.xsd"/>
            <xsd:import namespace="http://wservice.cerner.com/" schemaLocation="Contact_spcQuery_spcWPS_spcCERN_ContactQuery_Input.xsd"/>
            <xsd:import namespace="http://wservice.cerner.com/" schemaLocation="Contact_spcUpsert_spcWPS_spcCERN_ContactUpsert_Output.xsd"/>
            <xsd:import namespace="http://wservice.cerner.com/" schemaLocation="Contact_spcUpsert_spcWPS_spcCERN_ContactUpsert_Input.xsd"/>
      <xsd:element name="ContactUpsert">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="bons1:Contact_spcUpsert_spcWPS_spcCERN_ContactUpsert_Input"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ContactUpsertResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="bons1:Contact_spcUpsert_spcWPS_spcCERN_ContactUpsert_Output"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="string_element" nillable="true" type="xsd:string"/>
            <xsd:element name="ContactQuery">
        <xsd:complexType>
          <xsd:sequence>
                        <xsd:element ref="bons1:Contact_spcQuery_spcWPS_spcCERN_ContactQuery_Input"/>
                    </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="ContactQueryResponse">
        <xsd:complexType>
          <xsd:sequence>
                        <xsd:element ref="bons1:Contact_spcQuery_spcWPS_spcCERN_ContactQuery_Output"/>
                    </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="ContactUpsertRequestMsg">
    <wsdl:part element="tns:ContactUpsert" name="ContactUpsertParameters"/>
  </wsdl:message>
    <wsdl:message name="ContactUpsertResponseMsg">
    <wsdl:part element="tns:ContactUpsertResponse" name="ContactUpsertResult"/>
  </wsdl:message>
    <wsdl:message name="ContactUpsert_fault1Msg">
    <wsdl:part element="tns:string_element" name="fault1"/>
  </wsdl:message>
    <wsdl:message name="ContactQueryRequestMsg">
    <wsdl:part element="tns:ContactQuery" name="ContactQueryParameters"/>
  </wsdl:message>
    <wsdl:message name="ContactQueryResponseMsg">
    <wsdl:part element="tns:ContactQueryResponse" name="ContactQueryResult"/>
  </wsdl:message>
    <wsdl:message name="ContactQuery_fault1Msg">
    <wsdl:part element="tns:string_element" name="fault1"/>
  </wsdl:message>
    <wsdl:portType name="Invoke">
    <wsdl:operation name="ContactUpsert">
      <wsdl:input message="tns:ContactUpsertRequestMsg" name="ContactUpsertRequest"/>
      <wsdl:output message="tns:ContactUpsertResponseMsg" name="ContactUpsertResponse"/>
            <wsdl:fault message="tns:ContactUpsert_fault1Msg" name="fault1"/>
        </wsdl:operation>
        <wsdl:operation name="ContactQuery">
            <wsdl:input message="tns:ContactQueryRequestMsg" name="ContactQueryRequest"/>
            <wsdl:output message="tns:ContactQueryResponseMsg" name="ContactQueryResponse"/>
            <wsdl:fault message="tns:ContactQuery_fault1Msg" name="fault1"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
