Contact_Gadget/Branch/4.14.2010/SBL_ContactWidget_Lib/Contact_AlternatePhone.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsdLocal1="http://www.siebel.com/xml/Contact%20WPS%20CERN"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.siebel.com/xml/Contact%20WPS%20CERN">
	<xsd:complexType name="Contact_AlternatePhone">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0"
				name="AlternatePhoneNum" type="xsd:string" />
		</xsd:sequence>
		<xsd:attribute name="IsPrimaryMVG" type="xsd:string" />
	</xsd:complexType>
</xsd:schema>
