Contact_Gadget/Branch/5.26.2010_SOA.R5_Version.7/SBL_ContactWidget_Lib/com/siebel/www/xml/Contact Web Access WPS CERN/Contact.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/Contact%20Web%20Access%20WPS%20CERN" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/Contact%20Web%20Access%20WPS%20CERN">
  <xsd:include schemaLocation="ListOfAccount.xsd"/>
  <xsd:include schemaLocation="string30.xsd"/>
  <xsd:include schemaLocation="string50.xsd"/>
  <xsd:complexType name="Contact">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsdLocal1:string30"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="PrimaryEmail" type="xsdLocal1:string50"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="FirstName" type="xsdLocal1:string50"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LastName" type="xsdLocal1:string50"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="LoginId" type="xsdLocal1:string50"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ListOfAccount" type="xsdLocal1:ListOfAccount"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>