Contact_Gadget/Branch/5.26.2010_SOA.R5_Version.7/SBL_ContactWidget_Lib/com/siebel/www/xml/Contact Web Access WPS CERN/WebAccessCern.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/Contact%20Web%20Access%20WPS%20CERN" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/Contact%20Web%20Access%20WPS%20CERN">
  <xsd:include schemaLocation="string300.xsd"/>
  <xsd:complexType name="WebAccessCern">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="HaveAccess" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="AccessName" type="xsdLocal1:string300"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>